/* css stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  text-align: center;
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
}

.navbar {
  background:white;
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.nav-logo {
  width: 48px;
  height: 48px;
  margin: 6px;
  margin-left: 12px;
}

.nav-links {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px grey;
  padding: 24px;
}

.nav-links a:hover {
  background-color: #346633;
  color: white;
  font-weight: 900;
  text-shadow: 2px 2px black;
}

.hero {
  background-color: peru;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  width: 660px;
  background-color: burlywood;
  border: 8px solid white;
  border-radius: 148px;
  box-shadow: 2px 2px 3px black;
  margin-top: 72px;
  padding: 52px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px black;
  margin-bottom: 0px;
}

.hero-greeting {
  max-width: 360px;
}

.hero-button {
  padding: 5px;
  border-radius: 8px;
}

.hero-button:hover {
  background-color: peru;
  font-weight: bold;
}

.hero-logo {
  height: 192px;
  width: 192px;
  margin-left: 24px;
}

.content {
  background-color: #346633;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-title {
  margin-left: 16px;
  margin-right: 16px;
  color: White;
  text-shadow: 2px 2px black;
}

.panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 200px;
  height: 200px;
  margin: 32px;
  margin-bottom: 24px;
  padding-bottom: 48px;
}

.panel-icon {
  width: 160px;
  height: 160px;
  border: solid 6px burlywood;
  border-radius: 10%;
  box-shadow: 2px 2px 3px black;
  margin-bottom: 16px;
}

.panel-text {
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 600;
  padding-bottom: 32px;
}

.quote-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 36px;
  margin: 48px;
  max-width: 700px;
}

.quote-text {
  margin: 0px;
}

.quote-signature {
  margin: 8px 0px 0px auto;
  color: peru;
  font-weight: bold;
  font-size: larger;

}
.contact-info {
  background-color: #346633;
  padding: 48px;
  margin: 0px;
}

.footer {
  height: 72px;
  background-color: #eee;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}